/logs
/local
/resourcepacks
/crash-reports
/screenshots
/saves
/server-resource-packs
/.mixin.out
/config
/mods/OpenTerrainGenerator/worlds/
usercache.json
usernamecache.json
servers.dat
options.txt
crafttweaker.log
patchouli_data.json
OpenComputersMod-1.7.4.153*
mods/OpenTerrainGenerator/
mods/journeymap-1.12.2-5.5.4.jar
/journeymap
mods/Biome_Bundle-1.12.2-v6.1.jar
mods/OpenTerrainGenerator-1.12.2+-+v6.jar
mods/1.12.2/OTG-Core.jar
/Server
mods/LoadingProfiler-MC1.12-1.3.jar
loading-log.log
mods/memory_repo
optionsof.txt
/DIM-1
mods/LagGoggles-FORGE-1.12.2-4.1.jar
mods/OptiFine_1.12.2_HD_U_E3.jar
mods/Sledgehammer-1.12.2-1.4.2.jar
mods/VanillaFix-1.0.10-99.jar
mods/jei_1.12.2-4.15.0.273.jar
