/logs
/local
/resourcepacks
/crash-reports
/screenshots
/saves
/server-resource-packs
/.mixin.out
/config
/mods/OpenTerrainGenerator/worlds/
usercache.json
usernamecache.json
servers.dat
options.txt
crafttweaker.log
patchouli_data.json
OpenComputersMod-1.7.4.153*
/config/ftbquests
