/logs
/local
/resourcepacks
/crash-reports
/screenshots
/saves
/server-resource-packs
/.mixin.out
/config
/mods/OpenTerrainGenerator/worlds/
usercache.json
usernamecache.json
servers.dat
options.txt
crafttweaker.log
patchouli_data.json
OpenComputersMod-1.7.4.153*
mods/OpenTerrainGenerator/
mods/journeymap-1.12.2-5.5.4.jar
/journeymap
mods/Biome_Bundle-1.12.2-v6.1.jar
mods/OpenTerrainGenerator-1.12.2+-+v6.jar
